
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-image: url(https://img.freepik.com/vector-gratis/fondo-galaxia-acuarela-pintada-mano_52683-63443.jpg?w=2000);
font-family: 'Lora', serif;
}

